{% if hostvars[item]['group_names'] | difference('monitoring_servers') %}
  # A host definition
object Host "{{ hostvars[item]['ansible_fqdn'] }}" {
  import "generic-host"
  address = "{{ hostvars[item]['ansible_default_ipv4']['address'] }}"
  {% if hostvars[item]['ansible_default_ipv6']['address'] is defined and not hostvars[item]['ansible_default_ipv6']['address'].startswith('fe80') %}
  address6 = "{{ hostvars[item]['ansible_default_ipv6']['address'].split('%')[0] }}"
  {% endif %}
  vars.os = "{{ hostvars[item]['ansible_system'] }}"
  vars.os_family = "{{ hostvars[item]['ansible_os_family'] }}"
  vars.ssh_port = "{{ hostvars[item]['ansible_ssh_port'] | default(22)}}"

  # Here Goes Vars and check_command
{% for key,value in host_attributes.iteritems() %}
{% for key,value in value.items() %}
  {{ key }} = "{{ value }}"
{% endfor %}
{% endfor %}

}

  #Here Goes Checks if Any
{% if host_checks is defined %}
{% for key,value in host_checks.iteritems() %}
object Service "{{ key }}" {
  host_name = "{{ hostvars[item]['ansible_fqdn'] }}"
{% for key,value in value.items() %}
  {{ key }} = "{{ value }}"
{% endfor %}
}

{% endfor %}
{% endif %}
{% else %}
# This is a monitoring server entry. No checks will be copied.
{% endif %}
