# {{ ansible_managed }}

{% for key in check_commands.keys() %}
object CheckCommand "{{ key }}" {
  import "plugin-check-command"

  command = [
    PluginDir + "/{{ key }}",
  ]
  {% if check_commands[key]['arguments'] %}
  arguments = {
  {% for argname, argval in check_commands[key]['arguments'].iteritems() %}
    "{{ argname }}" = "{{argval}}"{% if not loop.last %},
{% endif %}
  {% endfor %}

  }
{% endif %}
}

{% endfor %}
